<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>3</key>
            <string>Figures\felicia.jpg</string>
            <key>4</key>
            <string>Figures\Blank White.jpg</string>
            <key>5</key>
            <string>Figures\Frame.png</string>
            <key>6</key>
            <string>Figures\body_base.png</string>
            <key>7</key>
            <string>Figures\body_status.png</string>
            <key>8</key>
            <string>Figures\black_01.png</string>
            <key>9</key>
            <string>Figures\black_02.png</string>
            <key>10</key>
            <string>Figures\black_03.png</string>
            <key>11</key>
            <string>Figures\black_04.png</string>
            <key>12</key>
            <string>Figures\black_05.png</string>
            <key>13</key>
            <string>Figures\black_06.png</string>
            <key>14</key>
            <string>Figures\black_07.png</string>
            <key>15</key>
            <string>Figures\black_08.png</string>
            <key>16</key>
            <string>Figures\black_09.png</string>
            <key>17</key>
            <string>Figures\black_10.png</string>
            <key>18</key>
            <string>Figures\black_11.png</string>
            <key>19</key>
            <string>Figures\black_12.png</string>
            <key>20</key>
            <string>Figures\black_13.png</string>
            <key>21</key>
            <string>Figures\black_14.png</string>
            <key>22</key>
            <string>Figures\black_15.png</string>
            <key>23</key>
            <string>Figures\black_16.png</string>
            <key>24</key>
            <string>Figures\automapUI_frame.png</string>
            <key>25</key>
            <string>Figures\automapUI_frame_2button.png</string>
            <key>26</key>
            <string>Figures\automapUI_query.png</string>
            <key>27</key>
            <string>Figures\automapUI_zoomIn.png</string>
            <key>28</key>
            <string>Figures\automapUI_zoomOut.png</string>
            <key>29</key>
            <string>Figures\automapUI_query_depressed.png</string>
            <key>30</key>
            <string>Figures\automapUI_zoomIn_disabled.png</string>
            <key>31</key>
            <string>Figures\automapUI_zoomOut_disabled.png</string>
            <key>32</key>
            <string>Figures\automapUI_zoomIn_depressed.png</string>
            <key>33</key>
            <string>Figures\automapUI_zoomOut_depressed.png</string>
            <key>34</key>
            <string>Figures\automapUI_explanation.png</string>
            <key>35</key>
            <string>Figures\Automap_Tileset_003.png</string>
            <key>36</key>
            <string>Figures\Automap_Tileset_004.png</string>
            <key>37</key>
            <string>Figures\Automap_Tileset_005.png</string>
            <key>38</key>
            <string>Figures\Automap_Tileset_006.png</string>
            <key>39</key>
            <string>Figures\Automap_Tileset_007.png</string>
            <key>40</key>
            <string>Figures\Automap_Tileset_008.png</string>
            <key>41</key>
            <string>Figures\Automap_Tileset_096.png</string>
            <key>42</key>
            <string>Figures\Automap_Tileset_126.png</string>
            <key>43</key>
            <string>Figures\Automap_Tileset_002.png</string>
            <key>44</key>
            <string>Figures\Automap_Tileset_001.png</string>
            <key>45</key>
            <string>Figures\Automap_Tileset_035.png</string>
            <key>46</key>
            <string>Figures\Automap_Tileset_036.png</string>
            <key>47</key>
            <string>Figures\Automap_Tileset_037.png</string>
            <key>48</key>
            <string>Figures\Automap_Tileset_090.png</string>
            <key>49</key>
            <string>Figures\Automap_Tileset_091.png</string>
            <key>50</key>
            <string>Figures\Automap_Tileset_038.png</string>
            <key>51</key>
            <string>Figures\Automap_Tileset_039.png</string>
            <key>52</key>
            <string>Figures\Automap_Tileset_040.png</string>
            <key>53</key>
            <string>Figures\Automap_Tileset_041.png</string>
            <key>54</key>
            <string>Figures\Automap_Tileset_042.png</string>
            <key>55</key>
            <string>Figures\Automap_Tileset_043.png</string>
            <key>56</key>
            <string>Figures\Automap_Tileset_044.png</string>
            <key>57</key>
            <string>Figures\Automap_Tileset_045.png</string>
            <key>58</key>
            <string>Figures\Automap_Tileset_046.png</string>
            <key>59</key>
            <string>Figures\Automap_Tileset_047.png</string>
            <key>60</key>
            <string>Figures\Automap_Tileset_048.png</string>
            <key>61</key>
            <string>Figures\Automap_Tileset_049.png</string>
            <key>62</key>
            <string>Figures\Automap_Tileset_050.png</string>
            <key>63</key>
            <string>Figures\Automap_Tileset_051.png</string>
            <key>64</key>
            <string>Figures\Automap_Tileset_052.png</string>
            <key>65</key>
            <string>Figures\Automap_Tileset_053.png</string>
            <key>66</key>
            <string>Figures\Automap_Tileset_092.png</string>
            <key>67</key>
            <string>Figures\Automap_Tileset_093.png</string>
            <key>68</key>
            <string>Figures\Automap_Tileset_094.png</string>
            <key>69</key>
            <string>Figures\Automap_Tileset_096.png</string>
            <key>70</key>
            <string>Figures\Automap_Tileset_054.png</string>
            <key>71</key>
            <string>Figures\Automap_Tileset_095.png</string>
            <key>72</key>
            <string>Figures\Automap_Tileset_055.png</string>
            <key>73</key>
            <string>Figures\Automap_Tileset_056.png</string>
            <key>74</key>
            <string>Figures\Automap_Tileset_057.png</string>
            <key>75</key>
            <string>Figures\Automap_Tileset_058.png</string>
            <key>76</key>
            <string>Figures\Automap_Tileset_059.png</string>
            <key>77</key>
            <string>Figures\Automap_Tileset_060.png</string>
            <key>78</key>
            <string>Figures\Automap_Tileset_061.png</string>
            <key>79</key>
            <string>Figures\Automap_Tileset_062.png</string>
            <key>80</key>
            <string>Figures\Automap_Tileset_063.png</string>
            <key>81</key>
            <string>Figures\Automap_Tileset_064.png</string>
            <key>82</key>
            <string>Figures\Automap_Tileset_065.png</string>
            <key>83</key>
            <string>Figures\Automap_Tileset_066.png</string>
            <key>84</key>
            <string>Figures\Automap_Tileset_067.png</string>
            <key>85</key>
            <string>Figures\Automap_Tileset_068.png</string>
            <key>86</key>
            <string>Figures\Automap_Tileset_069.png</string>
            <key>87</key>
            <string>Figures\Automap_Tileset_070.png</string>
            <key>88</key>
            <string>Figures\Automap_Tileset_071.png</string>
            <key>89</key>
            <string>Figures\Automap_Tileset_072.png</string>
            <key>90</key>
            <string>Figures\Automap_Tileset_073.png</string>
            <key>91</key>
            <string>Figures\Automap_Tileset_074.png</string>
            <key>92</key>
            <string>Figures\Automap_Tileset_011.png</string>
            <key>93</key>
            <string>Figures\Automap_Tileset_012.png</string>
            <key>94</key>
            <string>Figures\Automap_Tileset_013.png</string>
            <key>95</key>
            <string>Figures\Automap_Tileset_014.png</string>
            <key>96</key>
            <string>Figures\Automap_Tileset_123.png</string>
            <key>97</key>
            <string>Figures\Automap_Tileset_124.png</string>
            <key>98</key>
            <string>Figures\Automap_Tileset_125.png</string>
            <key>99</key>
            <string>Figures\Automap_Tileset_126.png</string>
        </dict>
    </dict>
</plist>
